<footer class="pt-4 pb-3">
    <div class="row ps-4 pe-4">
        <div class="col d-flex align-items-center">
            <a class="navbar-brand ms-4" href="/home">SportSphere</a>
        </div>
        <div class="col">
            <div class="p-2"><h5>Support</h5></div>
            <div class="p-2"><p>123, Road No. 10, Jubilee Hills, Hyderabad, Telangana, 500033,India</p></div>
            <div class="p-2"><p>sportsphere@gmail.com</p></div>
            <div class="p-2"><p>+9020-3888-8686</p></div>
        </div>
        <div class="col">
            <div class="p-2"><h5>Account</h5></div>
            <div class="p-1"><a class="dropdown-item" href="#">My Account</a></div>
            <div class="p-1 d-flex flex-row gap-0">
                    Login - 
                    <a class="footer-link" href="/login/user">User</a>/
                    <a class="footer-link" href="/login/seller">Seller</a>
            </div>
            <div class="p-1"><a class="dropdown-item" href="#">cart</a></div>
            <div class="p-1"><a class="dropdown-item" href="#">Wishlist</a></div>
            <div class="p-1"><a class="dropdown-item" href="#">Shop</a></div>
        </div>
        <div class="col">
            <div class="p-2"><h5>Quick link</h5></div>
            <div class="p-1"><a class="dropdown-item" href="#">Privacy Policy</a></div>
            <div class="p-1"><a class="dropdown-item" href="#">Terms Of Use</a></div>
            <div class="p-1"><a class="dropdown-item" href="#">FAQ</a></div>
            <div class="p-1"><a class="dropdown-item" href="/contact">Contact</a></div>
        </div>
        <div class="col">
            <dic class="p-2"><h5>Social Media</h5></dic>
            <div class="d-flex flex-row gap-3">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="copyrights col d-flex flex-row justify-content-center align-items-center gap-2">
            <i class="fa-regular fa-copyright"></i>
            Copyright Rimel 2025. All right reserved
        </div>
    </div>
</footer>