<nav class="navbar navbar-expand-lg pt-4 pb-3 border-bottom sticky-top">
    <div class="container-fluid row">
      <div class="col-1">
        <a class="navbar-brand ms-4" href="/home">SportSphere</a>
      </div>
      <div class="col-6">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/about">About</a>
            <!-- <a class="nav-link" href="/signup">Sign Up</a> -->
            <% if(!currUser) {%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Log in
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login/user">User</a></li>
                <li><a class="dropdown-item" href="/login/seller">Seller</a></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sign up
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/signup/user">User</a></li>
                <li><a class="dropdown-item" href="/signup/seller">Seller</a></li>
              </ul>
            </li>
            <% } %>
          </div>
        </div>
      </div>
      <% if(currUser){if(currUser.role == "Seller"){ %>
        <div class="col">
          <form action="/seller/product/new" method="get">
            <button class="btn">Add Product</button>
          </form>
        </div>
      <% }} %>
      <div class="col-2 me-3">
        <form action="/search" method="GET" class="search d-flex" role="search">
          <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search">
          <button class="btn search-btn" type="submit">Search</button>
        </form>
      </div>
      <% if(currUser) { %>
      <div class="col-1 me-3">
        <div class="d-flex flex-row gap-3 justify-content-end">
          <% if(currUser.role =="User"){ %>
             <i class="icons fa-regular fa-heart"></i>
            <a href="/cart"><i class="icons fa-solid fa-cart-shopping"></i></a>
         <% } %>
         <li class="nav-item dropdown" style="list-style: none;">
          <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="icons user fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Manage Account</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
        <!-- <a href="/logout"><i class="icons user fa-solid fa-user"></i></a> -->
        </div>
      </div>
      <% } %>
    </div>
  </nav>