 .btn{
    background-color: #DB4444 !important;
    color: white !important;
    border: 0px;
 }
 .btn:hover{
    background-color: #b38a8a !important;
 }
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 !important;
}
.container{
    flex: 1;
}
.product-link{
    text-decoration:none;
}

/* NavBar */
.navbar{
    background-color: white;
    width: 100vw;
}
.navbar-brand{
    font-size: x-large;
    font-weight: bold !important;
}
.navbar-nav{
    gap: 1.5rem;
}
.nav-link{
    color: black !important;
}
.nav-link:hover{
    text-decoration: underline !important;
}
.search-btn{
    background-color: #DB4444 !important;
    color: white !important;
}
.icons{
    font-size: 1.5rem;  
    color : black
}
.user{
    color:#DB4444 ;
}

/* Signup */

/* footer */
footer{
    background-color: black;
    color: white;
    width: 100vw;
}
.footer-link{
    color: white;
    text-decoration: none !important;
    font-weight: 400 !important;
}
.fa-brands{
    font-size: 1.5rem;
}
.copyrights{
    color: rgb(173, 173, 173);
}

/* products.ejs */
.card-text{
    color: #DB4444;
    font-weight: 600;
    font-size: larger;
}

/* home.ejs */

.categories {
    display: flex;
    flex-direction: row; /* Align items in a row */
    gap: 20px; /* Add spacing between items */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Ensure items wrap if they exceed the row width */
}

.categories a {
    text-decoration: none; /* Remove underline for links */
    display: block; /* Allow the entire div to be clickable */
}

.category-item {
    display: flex;
    padding: 20px;
    height: 150px;
    flex: 1; /* Allow equal space for each category */
    max-width: 200px; /* Limit the width of each category */
    text-align: center; /* Center the text inside the div */
    background-color: #2f2f2f; /* Light background for better visibility */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better design */
}

.category-item h2 {
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #d3d3d3;
}
